// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Speaking in Poems
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cabin.png', alt='...')
                            // Portfolio Modal - Text
                            p.mb-4
                                | This independently developed app allows the client to browse a large selection of poems, favorite and comment any of them, as well as create, edit, and delete their own poems.
                            a.btn.btn-primary(href='https://poem-project-jgarbero.herokuapp.com/')
                                | View Website
                            a.btn.btn-primary(href='https://github.com/jgarbero-source/poem-project-jgarbero')
                                | View Source Code
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
